.DS_Store
Lab1/Archive.zip
Lab1/Lab1_810196616.zip
Lab2/Report Format.docx
Lab1/Archive/Lab1.pdf
Lab1/Archive/Report Format.pdf
Lab1/Archive/s2.sql
Lab2/Screenshots
Lab2/hello-project/database.sqlite
Lab2/hello-project/database.sqlite
